<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">

<mapper namespace="com.sample.common.form">
	<!-- selectList -->
	<select id="selectList" parameterType="com.ktds.framework.sample.angular.form.Angular_formVO"
		resultType="com.ktds.framework.sample.angular.form.Angular_formVO">
		<![CDATA[
			SELECT * FROM (
				SELECT ROWNUM as rNum
								, angular_form.id
	    								, angular_form.email
	    								, angular_form.password
	    								, angular_form.username
	    								, angular_form.cellphone
	    								, angular_form.soccer
	    								, angular_form.baseball
	    								, angular_form.basketball
	    								, angular_form.volleyball
	    								, angular_form.agegroup
	    					FROM
						angular_form angular_form
				)
        ]]>
	

	
	</select>

	<!-- select -->
	<select id="select" parameterType="com.ktds.framework.sample.angular.form.Angular_formVO"
		resultType="com.ktds.framework.sample.angular.form.Angular_formVO">
		<![CDATA[
			SELECT
					angular_form.id
    					, angular_form.email
    					, angular_form.password
    					, angular_form.username
    					, angular_form.cellphone
    					, angular_form.soccer
    					, angular_form.baseball
    					, angular_form.basketball
    					, angular_form.volleyball
    					, angular_form.agegroup
    				FROM
				angular_form angular_form
			WHERE
				angular_form.id = #{id}
        ]]>
	</select>
																																					
	<!-- insert -->
	<insert id="insert" parameterType="com.ktds.framework.sample.angular.form.Angular_formVO">
	 	<![CDATA[
            INSERT INTO angular_form (
										
											  email 
											  , password 
											  , username 
											  , cellphone 
											  , soccer 
											  , baseball 
											  , basketball 
											  , volleyball 
											  , agegroup 
			            ) VALUES (
										
											    #{email} 
											  , #{password} 
											  , #{username} 
											  , #{cellphone} 
											  , #{soccer} 
											  , #{baseball} 
											  , #{basketball} 
											  , #{volleyball} 
											  , #{agegroup} 
						)
        ]]>
	</insert>
	<!-- update -->
	<update id="update" parameterType="com.ktds.framework.sample.angular.form.Angular_formVO">
		<![CDATA[
			UPDATE angular_form SET 
										id =	 #{id}
											,email = #{email}
											,password = #{password}
											,username = #{username}
											,cellphone = #{cellphone}
											,soccer = #{soccer}
											,baseball = #{baseball}
											,basketball = #{basketball}
											,volleyball = #{volleyball}
											,agegroup = #{agegroup}
			             WHERE	id = #{id}
        ]]>
	</update>
	
	<!-- delete -->
	<delete id="delete" parameterType="com.ktds.framework.sample.angular.form.Angular_formVO">
		<![CDATA[
			DELETE 
				FROM angular_form
			WHERE id = #{id}
        ]]>
		
	</delete>

</mapper>