<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE configuration PUBLIC "-//mybatis.org//DTD Config 3.0//EN" "HTTP://mybatis.org/dtd/mybatis-3-config.dtd">

<!-- 참고 : http://mybatis.github.io/mybatis-3/configuration.html -->
<configuration>
	<settings>
		<setting name="cacheEnabled" value="true" />
		<setting name="useGeneratedKeys" value="false" />
<!--
		BATCH로 설정해도 수행속도 같음
		<setting name="defaultExecutorType" value="BATCH" />
-->
		<setting name="defaultExecutorType" value="SIMPLE" />
		<setting name="lazyLoadingEnabled" value="false" />
		<setting name="aggressiveLazyLoading" value="true" />
		<!-- ppas setQueryTimeout error -->
<!--
		<setting name="defaultStatementTimeout" value="25000" />
-->
		<setting name="useColumnLabel" value="true" />
		<setting name="autoMappingBehavior" value="PARTIAL" />
		<setting name="multipleResultSetsEnabled" value="true" />
		<setting name="safeRowBoundsEnabled" value="true" />
		<setting name="mapUnderscoreToCamelCase" value="false" />
	</settings>
</configuration>