<treasure-overlay-spinner active='spinner.active'>
<div class="panel panel-default">
  <div class="panel-heading">Add / Delete / Swap Grid 예제</div>
  <div class="panel-body">
    
</div>
	 <button type="button" id="swapData" class="btn btn-success" ng-click="swapData()">Dataset 변경</button>
     <button type="button" id="addData" class="btn btn-success" ng-click="addData()">Data 추가</button>
     <button type="button" id="removeFirstRow" class="btn btn-success" ng-click="removeFirstRow()">첫 행 삭제</button>
     </br></br>

 
<div class="gridStyle"  ui-grid="gridOptions"></div></br></br>
</div>
</treasure-overlay-spinner>