
<div class="panel panel-default">
  <div class="panel-heading">Grid Style 적용</div>
  <div class="panel-body">
    
</div>

<pre>Default style : $scope.$emit('updateCSS', 'css/ui-grid/ui-grid-default.css');</pre>
<img src="img/grid-default.png">

<pre>Autumn style : $scope.$emit('updateCSS', 'css/ui-grid/ui-grid-autumn.css');</pre>
<img src="img/grid-autumn.png">

<pre>Sky style : $scope.$emit('updateCSS', 'css/ui-grid/ui-grid-sky.css');</pre>
<img src="img/grid-sky.png">
</br>
<pre>기타 원하는 스타일은 홈페이지를 통해  만들수 있다. (http://ui-grid.info/customizer)</pre>

</div>