<div ng-controller="GnBController">

	<nav class="navbar navbar-default navbar-fixed-top" role="navigation">
    <div class="container-fluid">
      <!-- Brand and toggle get grouped for better mobile display -->
      <div class="navbar-header">
        <a class="navbar-brand" href="#/">kt ds AngularJS App</a>
      </div>

      <!-- Collect the nav links, forms, and other content for toggling -->
      <div class="collapse navbar-collapse" id="bs-example-navbar-collapse-1">
        <ul class="nav navbar-nav">
          <p class="navbar-text">N-Root UI/UX Framework</p>

          <li><a href="#">Link</a></li>
          <li class="dropdown">
            <a href="#" class="dropdown-toggle" data-toggle="dropdown" role="button" aria-expanded="false">Components <span class="caret"></span></a>
            <ul class="dropdown-menu" role="menu">
              
              
              <li><a href="#/accordion">Accordion</a></li>
              <li><a href="#/alert">Alert</a></li>
              <li><a href="#/button">Button</a></li>
              <li><a href="#/modal">Modal</a></li>
              <li><a href="#/datepicker">DatePicker</a></li>
              <li><a href="#/dropdown">Dropdown</a></li>
              <li><a href="#/tab">Tab</a></li>
              <li><a href="#/progressbar">ProgressBar</a></li>
              <li><a href="#/typeahead">TypeAhead</a></li>
              
         
            </ul>
          </li>
          <li class="dropdown">
            <a href="#" class="dropdown-toggle" data-toggle="dropdown" role="button" aria-expanded="false">Service <span class="caret"></span></a>
            <ul class="dropdown-menu" role="menu">
        
              <li><a href="#/factory">FactoryTest</a></li>
              <li><a href="#/service">ServiceTest</a></li>
              <li><a href="#/constant">ConstantTest</a></li>
              <li><a href="#/value">ValueTest</a></li>
              <li class="divider"></li>
              <li><a href="#/directive">DirectiveTest</a></li>
              <li><a href="#/filter">FilterTest</a></li>
              
            </ul>
          </li>
          
          
           <li class="dropdown">
            <a href="#" class="dropdown-toggle" data-toggle="dropdown" role="button" aria-expanded="false">Crypt <span class="caret"></span></a>
            <ul class="dropdown-menu" role="menu">
        
              <li><a href="#/crypt">암/복호화</a></li>
              
              
            </ul>
          </li>
          
               <li class="dropdown">
            <a href="#" class="dropdown-toggle" data-toggle="dropdown" role="button" aria-expanded="false">Route <span class="caret"></span></a>
            <ul class="dropdown-menu" role="menu">
        
              <li><a href="#/route/123">Conservative-Route</a></li>
              <li><a href="#/route/123/456">Eager-Route</a></li>
              <li><a href="#/route/123/456/789">Eager-Route</a></li>
                          </ul>
          </li>
          
        </ul>

        <ul class="nav navbar-nav navbar-right">
          <li><a href="#">Link</a></li>
          
          <p class="navbar-text"><a href="#" ng-click="open()" class="navbar-link" ng-controller="LoginModalController">Login</a></p>
          
        </ul>
      </div><!-- /.navbar-collapse -->
    </div><!-- /.container-fluid -->
  </nav>
</div>